
body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 227, 211);}
button{
    background-color: #e4c4c3;
    border-color: #dbe3d3;
    font-family: 'Times New Roman', Times, serif;
    color: #9c632a;
    font-size: medium;
}
.atrasbotoes{
    background-color: hwb(2 76% 11%);
    justify-self: center;
}
.top{
    padding: 25px;
    text-align: center;
    background-color: #e4c4c3;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.borda{
    border-style: solid;
    border-width: 2px;
    border-color: #e4c4c3;
    background-color: #e4c4c3;
    padding: 10px;
    color: #9c632a;
    text-decoration: none;
    font-size:large;
}
.borda:hover{
    border-style: solid;
    border-width: 2px;
    border: none;
    background-color: #d8b2b0;
    padding: 08px;
    font-family: 'Times New Roman', Times, serif;
}
.logotipo{
    float: left;
    padding: 2px;
    margin: 5px;
}
.barra{
    background-color: rgb(228, 196, 195);
    line-height: normal;

}
.clear{
    clear: both;
}
.loginesacola{
    padding: 25px;
    text-align: right;
    background-color: #dbe3d3;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.bordales{
    border-style: solid;
    border-width: 2px;
    border-color: #dbe3d3;
    background-color: #dbe3d3;
    padding: 10px;
    color: #9c632a;
    text-decoration: none;
    font-size:large;
}
.bordales:hover{
    border-style: solid;
    border-width: 2px;
    border: none;
    background-color: #c7cec1;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: #e4c4c3;
    align-content: center;
}

td{
    
    padding-left: 20px;
    padding-right: 20px;
}
h3, h2{
    color: #9c632a;
}
.footermapa{
    float: left;

    margin: 10px 120px;

}

.zzz{
    text-align: center;
}

.xxx{
    float: left;
    padding: 10px;
    margin-left: 15px;
}
.footermapaindex{
    float: left;

    margin: 10px 140px;

}
 