body {
    background-color: rgb(219, 227, 211);}
button{
    background-color: #e4c4c3;
}
.atrasbotoes{
    background-color: hwb(2 76% 11%);
    justify-self: center;
}
.top{
    padding: 25px;
    text-align: center;
    background-color: #e4c4c3;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.borda{
    border-style: solid;
    border-width: 2px;
    border-color: #e4c4c3;
    background-color: #e4c4c3;
    padding: 10px;
    color: #9c632a;
    text-decoration: none;
    font-size:large;
}
.borda:hover{
    border-style: solid;
    border-width: 2px;
    border-color: #9c632a;
    background-color: #e4c4c3;
    padding: 08px;
    font-family: 'Times New Roman', Times, serif;
}
.logotipo{
    float: left;
    padding: 2px;
    margin: 5px;
}
.barra{
    background-color: #e4c4c3;
    line-height: normal;

}
.clear{
    clear: both;
}
.loginesacola{
    padding: 25px;
    text-align: right;
    background-color: #dbe3d3;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.bordales{
    border-style: solid;
    border-width: 2px;
    border-color: #dbe3d3;
    background-color: #dbe3d3;
    padding: 10px;
    color: #9c632a;
    text-decoration: none;
    font-size:large;
}
.bordales:hover{
    border-style: solid;
    border-width: 2px;
    border-color: #9c632a;
    background-color: #dbe3d3;
    padding: 08px;
    font-family: 'Times New Roman', Times, serif;
}